* {
    padding: 0px;
    margin: 0px;

}
/* HEADERS CUSTOMIZATION */
h1 {
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 135%;
    margin-top: 10px;
}

/* NAVBAR CUSTOMIZATION  */
.navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

a {
    display: inline;
    padding: 13px;
    margin: 0px;
    font-size: 25px;
}

/* ABOUT ME SECTION */
.info {
    position: relative;
    margin-left: 10%;
    border-left: 2px solid black;
}

p {
    margin: 15px;
}

/* MY WORKS SECTION */
.MyWorks {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    border-left: 2px solid black;
}

.works {
    width: 45%;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    margin: 15px;
    border-radius: 8px 8px 8px 8px;
}

/* IMAGES */
.MyWorks img {
    width: 97%;
    height: 95%;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 8px 8px 8px 8px;
}

/* BACKGROUND IMAGE */
.background {
    height: 450px;
    width: 100%;
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-position: center;
}

/* CONTACT INFORMATION SECTION */
.contacts {
    position: relative;
    margin-left: 10%;
    border-left: 2px solid black;
}

.infos {
    display: block;
    list-style-type: none;
}